.cartItemList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.total {
  text-align: end;
  padding-right: 5rem;
}

/* .cartItemList:nth-child(even) { */
/*   background-color: gray; */
/* } */
