.card {
  background-color: grey;
  padding: 25px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.description > img {
  min-width: 150px;
  height: 150px;
  flex: 1;
}

form {
  display: flex;
  /* flex-direction: column; */
  gap: 5px;
  align-items: center;
}

form > input {
  /* width: 50%; */
  height: 1.2rem;
}

form > button {
  flex: 1;
}
