.card {
  background-color: grey;
  padding: 25px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}
.description > img {
  height: 150px;
  object-fit: contain;
  justify-self: center;
}

form {
  display: flex;
  gap: 5px;
  align-items: center;
}

form > input {
  height: 1.2rem;
}

form > button {
  flex: 1;
}
